.custom-button {
    width: 10rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    font-family: Jakarta;
    font-weight: 200;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      transition: 0.3s all ease;
    }

    &.google-sign-in{
        background-color: #4285f4;

        &:hover{
            background-color: #357ae8;
            border: none;
            color: white;
        }
    }

    &.inverted{
      background-color: white;
      color: black;
      border: 1px solid black;

      &:hover{
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  