.collection-preview {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      cursor: pointer;
      display: inline;
    }
  
    .preview {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  