.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 3rem;
      margin: 0 auto 2rem;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      margin-left: -1rem;
      margin-right: 1rem;
      @media(min-width: 568px){
        grid-template-columns: 1fr 1fr;
      }
      @media(max-width: 420px){
        grid-template-columns: 1fr;
      }
  
      & .collection-item {
        margin-bottom: 2rem;
      }
    }
  }