.sign-in{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    @media (max-width: 1000px) {
        width: 100%;
    }

    .title{
        margin: 0.75rem 0 0 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}