.hero{
    width: 100%;
    position: relative;
    background: linear-gradient(to top, #333, transparent 50%);
    margin-bottom: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s all ease-out;
    @media(max-width: 420px){
        margin-bottom: 2rem;
    }
    &:hover{
        img{
            transition: 0.3s all ease-out;
            transform: scale(1.1);
        }
        .hero-titles{
            opacity: 1;
        }
    }
    img{
        transition: 0.3s all ease-out;
        display: block;
        width: 100%;
        mix-blend-mode: darken;
    }
    &-titles{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        color: white;
        text-align: center;
        opacity: 0.7;
        transition: 0.3s all ease-out;
        &-main{
            font-family: Jakarta-display;
            font-weight: 700;
            font-size: 4rem;
            @media (max-width: 1000px) {
                font-size: 2rem;
            }
        }   
        &-sub{
            font-family: Jakarta;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}