.cart-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 2rem;
      height: 2rem;
    }
  
    .item-count {
      position: absolute;
      font-size: 0.625rem;
      font-weight: bold;
      bottom: 0.75rem;
    }
  }
  