.footer{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
    .footer-left{
        width: 38%;
        @media (max-width: 420px) {
            width: 100%;
        }
        &-top{
            font-family: Jakarta-display;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1rem 0;
        }
        &-bottom{
            font-family: Jakarta-text;
            font-size: 1rem;
            font-weight: 200;
            border-top: 1px solid #333;
            padding: 1rem 0;
            @media (max-width: 800px) {
                font-size: 10px;
            }
            div{
                display: flex;
                justify-content: space-between;
                span{
                    width: 50%;
                    margin-bottom: 1rem;
                    &:hover{
                        color: #ccc;
                    }
                }
            }
        }
    }
    .footer-right{
        width: 60%;
        @media (max-width: 420px) {
            width: 100%;
        }
        &-top{
            font-family: Jakarta-display;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1rem 0;
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
            font-family: Jakarta-text;
            font-size: 1rem;
            font-weight: 200;
            @media (max-width: 800px) {
                font-size: 10px;
            }
            .office{
                border-top: 1px solid #333;
                width: 31%;
                height: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .city-address{
                    padding-top: 1rem;
                    .city{
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}