@font-face{
  font-family: Jakarta;
  src: url(./assets/fonts/PlusJakartaText-Regular.otf);
  font-weight: 400;
}

@font-face{
  font-family: Jakarta;
  src: url(./assets/fonts/PlusJakartaText-Light.otf);
  font-weight: 200;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jakarta;
}

